<div class="container-fluid">
    <div class="row header">
       <a routerLink="/conformform"> <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></a>
      
       <h5>Your Loan application</h5>
         
       <a routerLink="/officeverificationdetails" class="ml-auto"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></a>
      
     </div>
     <div class="row">
       <div class="col-lg-6 offset-lg-3 col-12 border p-5">
         <form>
           <div class="form-group">
             <label>Is your Company Name :</label> Mr.Subhash
             &nbsp;
            <div class="text-center">
               <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
               <label for="vehicle1"> YES</label>
               &nbsp;&nbsp;
               <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
               <label for="vehicle1"> NO</label>
             </div>
             <input type="text" class="form-control" name="" placeholder="Please enter the correct Company Name">
           </div>
           <div class="form-group d-flex">
             <label>Office space Ownership :</label>
             &nbsp;
            <span class="pl-4">
               <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
               <label for="vehicle1"> Owned</label>
               &nbsp;&nbsp;
               <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">&nbsp;
               <label for="vehicle1"> Ranted</label>
             </span>
           </div>
           <div class="form-group">
             <label>Area of Office :</label>
             <select class="form-control">
               <option></option>
               <option>Less than 500 Sqft</option>
               <option>Less than 1000 Sqft</option>
               <option>Less than 1500 Sqft</option>
               <option>Less than 2000 Sqft</option>
               <option>More  than 2000 Sqft</option>
             </select>
           </div>
           <div class="form-group">
             <label>Type of Industry :</label>
             <select class="form-control">
               <option></option>
               <option>Menufacturing</option>
               <option>Service</option>
               <option>Marketing</option>
               <option>Other</option>
             </select>
           </div>
           <div class="form-group">
             <label>Company base :</label>
             <select class="form-control">
               <option></option>
               <option>Proprietorship</option>
               <option>Pertnership</option>
               <option>Private Limited</option>
               <option>Public Limited</option>
             </select>
           </div>
           <div class="form-group">
             <label>Company type :</label>
             <select class="form-control">
               <option></option>
               <option>Govt</option>
               <option>PSU</option>
               <option>MNC</option>
               <option>Local</option>
             </select>
           </div>
           
           <div class="text-center">
             <button type="submit" class="btn btn-primary">Next</button>
           </div>
         </form>
       </div>
     </div>
     
   </div>